<p>
  Please Login to proceed
</p>

<form (ngSubmit)="login(formData)" #formData = ngForm>

  <div class="form-group">
    <label>Mobile</label>
    <input type="text" class="form-control" ngModel name="username" required autofocus><br>
  </div>

  
  <div class="form-group">
    <label>Password</label> 
    <input type="password" class="form-control" ngModel name="password" required><br>
  </div>


  <div class="form-group">
    <button 
      class="btn btn-default"
      type="submit"
      [disabled]="!formData.valid">
    Login</button>
  </div>

</form>

<br>

<div class="form-row text-center">
  <div class="col-12">
    <button class="btn btn-primary" (click)="newUser()">New User? Register</button>
  </div>
</div>
