<div class="login-form">
  <h5>
    Please Login to proceed
  </h5>

  <form (ngSubmit)="login(formData)" #formData = ngForm>

    <div class="form-group">
      <label>Mobile</label>
      <input 
        type="text" 
        class="form-control" 
        ngModel name="username" 
        (change)="resetLoginFailed()" 
        autofocus><br>
    </div>

    <div class="form-group">
      <label>Password</label> 
      <input 
        type="password" 
        class="form-control" 
        ngModel name="password" 
        (change)="resetLoginFailed()" 
        required>
    </div>

    <div *ngIf="loginFailed">
      <p style="color: red">Mobile Number or Password is Wrong</p>
    </div>

    <div *ngIf="loggingIn">
      <p>Logging In. Please Wait...</p>
    </div>

    <div class="form-group">
      <button 
        class="btn btn-large btn-success"
        type="submit"
        [disabled]="!formData.valid">
      Login</button>
    </div>

  </form>
</div>
<br>

<div class="form-row text-center">
  <div class="col-12">
    <button class="btn btn-primary" (click)="newUser()">New User? Register</button>
  </div>
</div>
