<nav class="navbar navbar-dark bg-primary nav-padding-override">
    <a class="navbar-brand" [routerLink]="['']">
      <h2>G&G</h2>
    </a>
    <ul class="navbar-nav flex-direction-override">
      <li class="navbar-item">
        <a class="nav-link" role="presentation" [routerLink]="['/user']">
          {{customerName}}
        </a>
      </li>
      <li class="navbar-item m-left m-right">
          <a class="nav-link" role="presentation" [routerLink]="['/cart']">
            <app-cart></app-cart>
          </a>
      </li>
    </ul>
  </nav>