<p>
  {{itemsInCart}} items in Cart
</p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Cost</th>
        </tr>
        
        <tr *ngFor='let order of orders'>
          <!--  
            edit items in cart
          -->
          <td>{{ order.productLineID }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.amount }}</td>
          <td>{{ order.quantity * order.amount }}</td>
        </tr> 

      </table>
    </div>
  </div>
</div>

  <p>
    Total: {{totalAmount}}
  </p>

<div>
  <footer>
    <button (click)="initiateOrder()" class="btn btn-block">Order</button>
  </footer>
</div>
