<div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;
 border-bottom-width: 1px; border-bottom-style: solid; 
 border-bottom-color: gray;height:45px;">
  <div style="float:left;line-height:30px;">
    <p>
      {{itemsInCart}} items in Cart
    </p>
  </div>

   <button 
    type="button" 
    class="btn btn-warning"
    [disabled]="!showItemTable"
    style="float: right;"
    data-toggle="modal"
    data-target="#clearCartConfirmDialog">
    Clear Cart
  </button>

</div>

<app-confirmation-dialog
[dialogName]="dialogName"
[title]="dialogTitle"
[message]="dialogMessage"
[redButton]="dialogRedButton"
[greenButton]="dialogGreenButton"
(dialogButtonClick)="onClearCartConfirmDialogButtonClick($event)">
</app-confirmation-dialog>

<div *ngIf="showItemTable">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-hover">
          <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Cost</th>
          </tr>

          <tr *ngFor='let item of cartItems'>
            <!--  
              edit items in cart
            -->
            <td>{{ item.product.productName }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity * item.price }}</td>
          </tr> 

        </table>
      </div>
    </div>
  </div>

  <div class="text-right">
    <h5 style="font-weight: bold">
      Total: {{totalAmount}}
    </h5>
  </div>

</div>



<div class="text-center" style="margin-top: 20px">
  <footer>
    <button 
      (click)="initiateOrder()" 
      class="btn btn-large btn-success"
      [disabled] = "!showItemTable"
    >Proceed with Order</button>
  </footer>
</div>
