<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['']">Home</a>
    </li>

    <li class="breadcrumb-item">
      <a [routerLink]="['/product']">Back to {{selectedType.description}}</a>
    </li>
  </ol>
</nav>

<div class="row">

  <div 
    class="col-12 col-lg-6" 
    style="text-align:center">
    <img src={{imageDownload}} class="img-fluid img-rounded">
  </div>

  <div class="col-12 col-lg-6">

    <div>
      <p style="font-family: Lobster">
      {{selectedProductHeader.brand}} {{selectedType.description}} @ Rs.{{selectedProductHeader.price}}</p>
    </div>

    <div>
      <app-color-size-picker 
        (productLineSelectedEvent)="receiveSelectedProductLine($event)" 
        [productDetailList]="productDetails">
      </app-color-size-picker>
    </div>

    <br>

    <div class="row justify-content-center">

      <button 
        (click)="onQuantityDecrement()" 
        class="col-2 btn btn-xs btn-danger">
      -</button>

      <p 
        class="col-2 text-center" 
        style="font-weight: bold"> 
      {{quantity}} </p>

      <button 
        (click)="onQuantityIncrement()" 
        class="col-2 btn btn-xs btn-success">
      +</button>

    </div>

    <footer class="myfooter" style="margin-top: 20px">
      <button (click)="addToCart()" [disabled]="disableAddToCartButton" class="btn btn-block btn-primary">
        Add to Cart
        <img src="./assets/cart.svg" width="20px" height="20px">
      </button>
    </footer>
  </div>
</div>