<div class="content">

    <div>
      <a [routerLink]="['/product']">Back to {{selectedType.description}}s</a>
    </div>
  
    <div>
      <img src={{imageDownload}} class="img-fluid img-rounded"> 
    </div>
  
    <div>
      <p>{{selectedProductHeader.brand}} {{selectedType.description}} @ Rs.{{selectedProductHeader.price}}</p>
    </div>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-2" *ngFor = 'let detail of productDetails'>
            <app-product-detail-color
            [detailValue]=detail.color
            [detailType] = "typeColor"
            (eventEmitter) = "onChildClick($event)"
              ></app-product-detail-color>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-2" *ngFor = 'let detail of productDetails'>
            <app-product-detail-color
            [detailValue]=detail.sizeChar
            [detailType] = "typeSize"
            (eventEmitter) = "onChildClick($event)"
              ></app-product-detail-color>
          </div>
        </div>
      </div>
    </div>


    <footer>
      <button (click)="addToCart()"
        class="btn btn-block">
        Add to Cart
      </button>
    </footer>

  </div>