@font-face {
    font-family: 'Lobster';
    src: url('../../../../../assets/fonts/lobster.ttf')  format('truetype');
}

.lobster{
    font-family: Lobster;
}

.border-style{
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: ridge;
}