.h-margin{
    margin-left: 10px;
    margin-right: 10px;
}

.p-button{
    padding: 15px 15px;
}

.enabled {    
    border-style: solid;
    border-color: yellow;
    border-width: 5px;

    height:50px;
    width:50px;

    margin-left: 10px;
    margin-right: 10px;
}

.selected {
    border-style: solid;
    border-color: #00FF00;
    border-width: 5px;

    height:60px;
    width:60px;

    margin-left: 10px;
    margin-right: 10px;
}

.disabled {
    border-style: none;

    height:40px;
    width:40px;

    margin-left: 10px;
    margin-right: 10px;
}

.round-button{
    border-radius: 50%;
    outline:none;
}